<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Not Found!</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<h2 th:text="#{error.not-found}">Entity Not Found!</h2>
<h3 class="error" th:text="${error}">Error placeholder</h3>
</body>
</html>