<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="INTUITIVE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>All Shipments</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/nicepage2.css" media="screen" th:href="@{/css/nicepage2.css}">
    <link href="../static/css/table.css" media="screen" th:href="@{/css/table.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css" media="screen" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/heading.css" th:href="@{/css/heading.css}">
    <link rel="stylesheet" href="../static/css/body.css" th:href="@{/css/body.css}">
    <script class="u-script" type="text/javascript" src="../static/js/jquery2.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage2.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.9.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">
<header class="u-clearfix u-header u-header" id="sec-07f4">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="https://nicepage.com" class="u-image u-logo u-image-1">
            <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
            <div class="container"><a class="navbar-brand js-scroll-trigger" th:href="@{/}">Deliver Service</a>
                <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                        type="button"
                        data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/shipments/new}">Create</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" th:href="@{/warehouses}">Locations</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/parcels}">Parcels</a>
                        </li>
                        <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" th:href="@{/profile}">Profile</a>
                        </li>
                        <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href=""
                               th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<section class="u-align-center u-clearfix u-section-1" id="carousel_a3a9">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1 new-parcel-container">
        <h1 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-1">All
            Shipments</h1>
        <form th:object="${shipmentSearchDto}" method="post" th:action="@{/shipments/search}">
            <div class="container">
                <div class="row">
                    <div class="input-group mb-3 col-5">
                        <input type="date" class="form-control"
                               placeholder="Search..." th:field="*{arrivalDate}">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                    <div class="col-2">
                        <a class="btn btn-danger" href="#" th:href="@{/shipments}">Reset</a>
                    </div>
                </div>
            </div>
        </form>
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="u-table-entity u-table-entity-1">
                <colgroup>
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                </colgroup>
                <thead class="u-custom-font u-font-courier-new u-palette-4-base u-table-header u-table-header-1">
                <tr style="height: 58px;">
                    <th class="u-table-cell">Id</th>
                    <th class="u-table-cell">Departure Date</th>
                    <th class="u-table-cell">Arrival Date</th>
                    <th class="u-table-cell">Actions</th>
                </tr>
                </thead>
                <tbody class="u-table-body">
                <tr th:each="shipment : ${shipments}">
                    <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell">
                        <a href="#" th:href="@{/shipments/{id}(id=${shipment.getId()})}" th:text="${shipment.id}">1</a>
                    </td>
                    <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell"
                        th:text="${shipment.departureDate}">2022-01-20
                    </td>
                    <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell"
                        th:text="${shipment.arrivalDate}">2022-01-20
                    </td>
                    <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell">
                        <a href="#" th:href="@{/shipments/{id}/update(id=${shipment.getId()})}" class="button4"
                           style="background-color:#4e9af1">Update</a>
                        <a href="#" th:href="@{/shipments/{id}/delete(id=${shipment.getId()})}" class="button4"
                           style="background-color:#f14e4e">Delete</a>
                    </td>
                </tr>
                </tbody>

            </table>
            <div th:if="${shipmentPage.totalPages > 0}" class="pagination" id="element1"
                 th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/shipments(size=${shipmentPage.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==shipmentPage.number + 1} ? ative"></a>
            </div>
        </div>
    </div>
</section>
<br/><br/><br/><br/>
<footer class="footer text-center">
    <div class="container ">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">LOCATION</h4>
                <p class="pre-wrap lead mb-0">2215 John Daniel Drive
                    Clark, MO 65243</p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">AROUND THE WEB</h4><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-dribbble"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="mb-4">ABOUT FREELANCER</h4>
                <p class="pre-wrap lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by Start
                    Bootstrap</p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
</section>
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
<!-- Bootstrap core JS-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<script src="js/scripts.js"></script>-->
</body>
</html>