<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Warehouses</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="INTUITIVE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/nicepage2.css" media="screen" th:href="@{/css/nicepage2.css}">
    <link href="../static/css/table.css" media="screen" th:href="@{/css/table.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css" media="screen" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/heading.css" th:href="@{/css/heading.css}">
    <link rel="stylesheet" href="../static/css/body.css" th:href="@{/css/body.css}">
    <script class="u-script" type="text/javascript" src="../static/js/jquery2.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage2.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.9.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
</head>
<body class="u-body">
<header class="u-clearfix u-header u-header" id="sec-07f4">
    <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
            <div class="container"><a class="navbar-brand js-scroll-trigger" th:href="@{/}">Deliver Service</a>
                <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                        type="button"
                        data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1" th:if="${currentUser != null && currentUser.isEmployee()}">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                               th:href="@{/warehouses/new}">Create</a>
                        </li>
                        <li th:if="${currentUser != null && currentUser.isEmployee()}" class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                               th:href="@{/shipments}">Shipments</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1" th:if="${currentUser != null && currentUser.isEmployee()}">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/parcels}">Parcels</a>
                        </li>
                        <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" th:href="@{/profile}">Profile</a>
                        </li>
                        <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href=""
                               th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<section class="u-align-center u-clearfix u-section-1" id="carousel_a3a9">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1 new-parcel-container">
        <h1 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-1">All
            Warehouses</h1>
        <form th:object="${warehouseSearchDto}" method="post" th:action="@{/warehouses/search}">
            <div class="container">
                <div class="row">
                    <div class="input-group mb-3 col-5">
                        <input type="text" class="form-control"
                               placeholder="Search..." th:field="*{street}">
                    </div>
                    <div class="col-3">
                        <select class="form-select" th:field="*{cityId}">
                            <label th:text="Cities"></label>
                            <option selected value="-1">Any</option>
                            <option th:each="city : ${cities}"
                                    th:value="${city.id}"
                                    th:text="${city.name}">[One]
                            </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                    <div class="col-2">
                        <a class="btn btn-danger" href="#" th:href="@{/warehouses}">Reset</a>
                    </div>
                </div>
            </div>
        </form>
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="u-table-entity u-table-entity-1">
                <colgroup>
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                </colgroup>
                <thead class="u-custom-font u-font-courier-new u-palette-4-base u-table-header u-table-header-1">
                <tr style="height: 58px;">
                    <th class="u-table-cell">Id</th>
                    <th class="u-table-cell">Country</th>
                    <th class="u-table-cell">City</th>
                    <th class="u-table-cell">Street</th>
                    <th class="u-table-cell" th:if="${currentUser != null && currentUser.isEmployee()}">Actions</th>
                </tr>
                </thead>
                <tbody class="u-table-body">
                <tr th:each="warehouse : ${warehouses}">
                    <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell">
                        <a href="#" th:href="@{/warehouses/{id}(id=${warehouse.getId()})}"
                           th:text="${warehouse.id}">1</a>
                    </td>
                    <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell"
                        th:text="${warehouse.getAddress().getCity().getCountry().getName()}">Bulgaria
                    </td>
                    <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell"
                        th:text="${warehouse.getAddress().getCity().getName()}">Sofia
                    </td>
                    <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell"
                        th:text="${warehouse.getAddress().getStreet()}">Street 4
                    </td>
                    <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell"
                        th:if="${currentUser != null && currentUser.isEmployee()}">
                        <a href="#" th:href="@{/warehouses/{id}/update(id=${warehouse.getId()})}" class="button4"
                           style="background-color:#4e9af1">Update</a>
                        <a href="#" th:href="@{/warehouses/{id}/delete(id=${warehouse.getId()})}" class="button4"
                           style="background-color:#f14e4e">Delete</a>
                    </td>
                </tr>
                </tbody>

            </table>
            <div th:if="${warehousePage.totalPages > 0}" class="pagination" id="element1"
                 th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/warehouses(size=${warehousePage.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==warehousePage.number + 1} ? ative"></a>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="contact" th:if="${currentUser == null}">
    <div class="container">
        <!-- Contact Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACT</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Content-->
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="icon-contact mb-3"><i class="fas fa-mobile-alt"></i></div>
                    <div class="text-muted">Phone</div>
                    <div class="lead font-weight-bold">(555) 555-5555</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="icon-contact mb-3"><i class="far fa-envelope"></i></div>
                    <div class="text-muted">Email</div>
                    <a class="lead font-weight-bold" href="mailto:name@example.com">name@example.com</a>
                </div>
            </div>
        </div>
    </div>
</section>
<br/><br/><br/><br/>
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">LOCATION</h4>
                <p class="pre-wrap lead mb-0">2215 John Daniel Drive
                    Clark, MO 65243</p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">AROUND THE WEB</h4><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-dribbble"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="mb-4">ABOUT FREELANCER</h4>
                <p class="pre-wrap lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by Start
                    Bootstrap</p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
</body>
</html>